<ngx-loading-bar [includeSpinner]="false" [color]="'#fe7c1e'"></ngx-loading-bar>
<div class="container">
    <div class="row text-center">
        <div class="search-component">
            <app-google-autocomplete (coordinates)="getWeather($event)"></app-google-autocomplete>
            <button type="button" class="btn btn-reload" (click)="getWeather(city)" *ngIf="city">
                <img src="img/refresh.svg" class="refresh">
            </button>
        </div>
    </div>
    <div class="widget-container shadow" *ngIf="weather">
        <div class="row widget-header gradient-bg round-corner-top border">
            <div class="col-6">
                <span *ngIf="city">{{ city.name }}</span>
            </div>
            <div class="col-6 icons-margin">
                <img src="{{ img(weather['weather'][0].id)}}" class="weather-icon">
            </div>
        </div>
        <div class="row border">
            <div class="col-6 degrees">
                {{ round(weather.main.temp) }}°C
            </div>
            <div class="col-3">
                <div>Ветер</div>
                <div>Влажность</div>
                <div>Давление</div>
            </div>
            <div class="col-3">
                <div class="font-weight-bold">{{ weather.wind.speed }} м/c</div>
                <div class="font-weight-bold">{{ weather.main.humidity }} %</div>
                <div class="font-weight-bold">{{ weather.main.pressure }} гПА</div>
            </div>
        </div>
        <div class="row gradient-bg round-corner-bot border">
            <div class="col-12 created-by">
                Created by Vlad Kabantsov 2018
            </div>
        </div>
    </div>


</div>
