<div class="container">
    <app-google-autocomplete (coordinates)="getWeather($event)"></app-google-autocomplete>
    <!--<button type="button" (click)="getWeather()">-->
        <!--<span *ngIf="!weather">getData</span>-->
        <!--<span *ngIf="weather">reload</span>-->
    <!--</button>-->
    <div class="row widget-header">
        <div class="col-4">
            Погода в <span *ngIf="city">{{ city.name }}</span>
        </div>
        <div class="col-8">
            сонышко
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            15 С
        </div>
        <div class="col-3">
            <div>Чувствуется как</div>
            <div>Ветер</div>
            <div>Влажность</div>
            <div>Давлени</div>
        </div>
        <div class="col-3">
            <div class="font-weight-bold">6 C</div>
            <div class="font-weight-bold">36 м/c</div>
            <div class="font-weight-bold">68 %</div>
            <div class="font-weight-bold">6 гПА</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            07 10 2018
        </div>
    </div>
</div>
<!--<div *ngIf="weather">-->
<!--<table class="table table-hover">-->
<!--<tbody>-->
<!--<tr>-->
<!--<th scope="row">Температура</th>-->
<!--<td>15 С</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th scope="row">Давление</th>-->
<!--<td>165 гПа</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<th scope="row">Влажность</th>-->
<!--<td>68%</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->